body {
  font-family: Arial;
  background: #f0f8ff;
  text-align: center;
  padding-top: 100px;
}
.container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  box-shadow: 0 0 10px gray;
}
button {
  padding: 10px 20px;
  margin-top: 20px;
}
